<section id="hero">
  <img class="hero-img" src="../assets/images/undraw_reading_time_re_phf7.svg">
  <div class="col">
    <p class="headline">Explore your favorite books 📚 </p>
    <p class="title">Get Lost in a Good <br>Book From Our<br> Selection</p>
    <div class="search-container">
      <input class="search-bar" placeholder="Search books,authors,categories">
      <button class="search-btn">Search</button>
    </div>
  </div>

</section>
<section id="best-selling">
  <h1 class="headline-best-seller">Discover Best-sellers</h1>
  <p>Our best-selling books are the ones that our customers just can't get enough of. From thrillers to romance novels, these books have
    <br> something for everyone. Whether you're looking for a new mystery to solve or a heartwarming love story, you'll find it among our <br>best-sellers. With a wide variety of genres to choose from, you're sure to find your next favorite read among these top-rated books.</p>
  <div class="card-list">
    <bk-book-card>
    </bk-book-card>
    <bk-book-card></bk-book-card>
    <bk-book-card></bk-book-card>

  </div>
 
    <button class="view-more-btn">View More</button>

  </section>


